.TOP6 {
    text-align: center;
    h1 {
        font-size: 2.8125rem;
        letter-spacing: 0.0625rem;
        word-spacing: 0.125rem;
        text-transform: capitalize;
        color: rgb(114, 41, 41);
    }
    a {
        font-family: serif;
        font-size: 2.1875rem;
        font-weight: bold;
        margin-top: 3.4375rem;
        word-spacing: -0.0625rem;
        letter-spacing: 0.0625rem;
        color: black;
        text-decoration: none;
    }
}