.footer {
    color: #000000;
    margin-top: 3rem;
    text-align: center;
    padding-top: 1.5625rem;
    font-weight: bold;
    word-spacing: 0.0625rem;
    text-transform: capitalize;
    background-color: white;
    border-radius: 5px;
    margin-top: -0.3125rem;
    span {
        letter-spacing: -0.0625rem;    
    }
}